# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
*.mat
*.npy
*.npz

# Archives
*.zip
*.tar
*.tar.gz
*.tgz

# Docker images/archives (anywhere in repo)
docker/
*.docker
*docker*.tar

# PyTorch model checkpoints
*.pt

# Other binaries you might generate
*.exe
*.dll

# data's & model weigths
data/*
model_weigths/


# exception's
!src/diffusion_notebooks/DIffusion_model_weigths_and_datas/dpp_0.1_autonorm_true_125_from_base_ddpm/model_epoch_124.pt
!src/surrogate_models/Surrogate_Model_weigths/just_for_cd_200_300_300_200/mlp_best_model.pt
!src/surrogate_models/Surrogate_Model_weigths/just_for_cl_150_200_200_150/mlp_best_model.pt
!data/coord_min_max.npy
